
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */