body
{
	background-color: #f0e1ce;
	font-size: 18px;
	font-family: 'Comic Neue', cursive;
	color: black;
}

#container
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	font-family: 'Sacramento', cursive;
	width: 1100px;
	font-size: 70px;
	text-align: center;
	letter-spacing:2px;
	text-transform: capitalize;
	text-shadow: 2px 2px 2px #CCCCCC;
	margin-left: auto;
	margin-right: auto;
}

#ja
{
	width:  300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	letter-spacing: 2px;
	float: left;
}

.social
{
	width: 800px;
	height: 140px;
	margin-left:auto;
	margin-right: auto;
	float: left;
}

.fb
{
	width: 150px;
	height: 140px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	text-align: center;
	color: black;
}

.instagram
{
	width: 150px;
	height: 140px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	text-align: center;
	color: black;
	text-decoration: none;
}

.meil
{
	width: 150px;
	height: 140px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	text-align: center;
}

.numer
{
	width: 150px;
	height: 140px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	text-align: center;
}

.instagram:hover,
.numer:hover,
.meil:hover,
.fb:hover
{ 
	background-color: #e0d0bd;
	border-radius: 10px;
}

.photo
{
	
	height: 1000px;
	margin-left: 300px;
	margin-top: 180px;
}

.photo1
{
	margin-left: 40px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo1 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo1:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo2
{
	margin-left: 5px;
	width: 250px;
	float: left;
	height: 250px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;

}

.photo2 img
{
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}


.photo2:hover img
{
	 -webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.photo3
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo3 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo3:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo4
{
	margin-left: 40px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo4 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo4:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo5
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo5 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo5:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo6
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo6 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo6:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo7
{
	margin-left: 40px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo7 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo7:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo8
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo8 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo8:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo9
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo9 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo9:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo10
{
	margin-left: 40px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo10 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo10:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo11
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo11 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo11:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.photo12
{
	margin-left: 5px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	float: left;
}

.photo12 img
{
	transition: all 0.7s ease-in-out;
	border-radius: 20px;
	box-shadow: 20px 20px 10px #d0c0ac;
}

.photo12:hover img
{
	-webkit-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}























